<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.k0d4black.theforce">

    <application
        android:name=".TheForceApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">

        <activity android:name=".shared.android.base.BaseActivity" />

        <activity
            android:name=".feature.character.details.FavoriteDetailsActivity"
            android:parentActivityName="com.github.odaridavid.feature.home.HomeActivity" />
        <activity
            android:name=".feature.about.AboutActivity"
            android:label="@string/title_about"
            android:parentActivityName=".feature.settings.SettingsActivity" />

        <activity
            android:name=".feature.settings.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="com.github.odaridavid.feature.home.HomeActivity" />
        <activity
            android:name=".feature.character.details.CharacterDetailsActivity"
            android:parentActivityName="com.github.odaridavid.feature.home.HomeActivity" />

        <!-- TODO Use singletop though seems tricky given the UI is using motion layout -->
        <activity
            android:name="com.github.odaridavid.feature.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsEnabled}" />
    </application>

</manifest>